@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@import url(/css/sections/header.css);
@import url(/css/sections/hero.css);
@import url(/css/sections/aboutus.css);
@import url(/css/sections/popular.css);
@import url(/css/sections/trending.css);
@import url(/css/sections/subscribe.css);
@import url(/css/sections/footer.css);


:root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --primary-color: #b1454a;
    --secondary-color: #121212;
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  
    --color-white: #fff;
    --color-creamson: #fff0de;
  }

*{
  margin:0;
  padding:0;
}

html{
  scroll-behavior: smooth;
}

body{
   background-color:var(--color-creamson)
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}